# Git
.git
.gitignore

# IDE
.idea
*.iml

# Docker
docker-compose.yml
docker-compose.prod.yml

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Env
.env
.env.prod
*.env
.env*

# Docs & Misc
README.md
NOTE.md
*.db
*.exe