# Git
.git
.gitignore

# IDE
.idea
*.iml

# Docker
Dockerfile
Dockerfile.prod
docker-compose.yml
docker-compose.prod.yml

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Env
.env
.env.prod

# Docs & Misc
README.md
NOTE.md
*.db
*.txt
*.exe